:root {
  /* light mode styles */
  --primary-text-color-light: #161513;
  --secondary-text-color-light: #5e3bee;
  --primary-bg-color-light: #f2f1ef;
  --secondary-bg-color-light: #f2f1ef;
  --grey-text-light: #5e636e;

  /* dark mode styles */
  --primary-text-color-dark: #f5f5f5;
  --secondary-text-color-dark: #075fe4;
  --primary-bg-color-dark: #15181c;
  --secondary-bg-color-dark: #1a1e23;
  --grey-text-dark: #8596a3;

  font-family: var(--font-primary);
}

.light {
  color: var(--primary-text-color-light);
  background-color: var(--primary-bg-color-light);
  --secondary-text-color: var(--secondary-text-color-light);
  --secondary-bg-color: var(--secondary-bg-color-light);
}

.dark {
  color: var(--primary-text-color-dark);
  background-color: var(--primary-bg-color-dark);
  --secondary-text-color: var(--secondary-text-color-dark);
  --secondary-bg-color: var(var(--secondary-bg-color-dark));
}
